---
import { Icon } from "astro-icon/components"
import PersonList from "../PersonList/index.astro"
const {anime} = Astro.props
---
<main class="anime-info">
    <aside>
        <img src={anime.images.webp.large_image_url} transition:name={`poster-${anime.mal_id}`} />
    </aside>
    <article transition:animate="slide">
        <h1>{anime.title}</h1>
        <p>
            <b>Studio: </b>{anime.studios[0].name}
        </p>
        <p>
            <b>Year: </b>{anime.year}
        </p>
        <p>
            <b>Genres: </b>{anime.genres.map((genre: any) => <span class="genre">{genre.name}</span>)}
        </p>
        <p>
            <b>Demographics: </b>{anime.demographics[0]?.name}
        </p>
        <p>
            <b>Score: </b>{anime.score}
        </p>
        <p>
            <b>Synopsis: </b>{anime.synopsis}
        </p>

        <a class="trailer" href={anime.trailer.url} target="_blank">
            <Icon name="mdi:play" /> Trailer
        </a>
    </article>
</main>
<main class="characters" transition:animate="slide">
    <h2>Seiyuu and characters</h2>
    <!-- <PersonList id={anime.mal_id} /> -->
</main>

<style>
    aside {
        transition: all .5s ease-in-out;
    }

    .anime-info {
        padding: 8rem 2.5rem 2.5rem 2.5rem;
        color: white;
        display: flex;
        gap: 2.5em;
    }

    .characters {
        color: white;
        padding: 1rem 2.5rem 2.5rem 2.5rem;
    }

    .genre {
        padding: .25em .75em;
        border-radius: 1em;
        background-color: #55f;
        margin: 0 .5em;
        font-size: 13px;
        letter-spacing: .1em;
    }

    article {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .trailer {
        padding: .25em .75em;
        border-radius: 1em;
        background-color: #f55;
        font-size: 13px;
        letter-spacing: .1em;
        color: white;
        display: flex;
        align-items: center;
        gap: .25em;
        width: fit-content;
        margin: 1em 0;

        & svg {
            width: 20px;
        }
    }

    @media (width < 640px) {
        .anime-info {
            flex-direction: column;
        }

        aside img {
            width: 100%;
        }
    }
</style>

