---
const {anime} = Astro.props

// Se desestructura el objeto de anime en varias variables.
const {mal_id, title, images, year, studios, score} = anime;
---

<div id="anime-item">
    <a href={`/animes/${mal_id}`} title={title}>
        <img 
            src={images.webp.image_url}
            transition:name={`poster-${mal_id}`}
            alt={title}
        />
    </a>
    <h3>{title}</h3>
    <h6>{year} - {studios[0].name}</h6>
    <div class="score">
        ⭐ {score}
    </div>
</div>
<style>
    #anime-item {
        list-style: none;

        & img {
            /*height: 240px;*/
            transition: all .5s ease-in-out;
            width: 100%;
        }

        & img:hover {
            transform: scale(1.1);
        }
    }

    .score {
            font-size: 15px;
            color: white;
    }

</style>
